# TestReport

```
TestReport["file"] gives a report of the results of the tests from a file.

TestReport[{test1,test2,…}] gives a report of the results of the testi.

TestReport[{report1,report2,…}] gives a unified report by merging all test reports reporti.
```




*Please visit the official [Wolfram Language Reference](https://reference.wolfram.com/language/) for more details and examples on core symbols.*